.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 102px;
    padding: 20px 24px;
    background-color: #000;
}

.headerLogoImg {
    width: 61px;
    height: 61px;
    margin-right: 16px;
}

.headerNavList {
    display: flex;
}

.headerNavListItem + .headerNavListItem {
    margin-left: 16px;
}

.headerNavLink {
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.headerNavLinkActive {
    color: #FDBF5A;
}
