.button {
    position: relative;
    display: inline-block;
    padding: 16px;
    border: transparent;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    overflow: visible;
    background-color: transparent;
    transition: all .15s ease-in;
}
